<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fitflowlogoblue"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitFlow"
        tools:targetApi="31">

        <receiver android:name=".notification.ReminderReceiver" />


        <activity
            android:name=".progress.ProgressActivity"
            android:exported="false" />
        <activity
            android:name=".achievementsPlan.GoalsAchievementsActivity"
            android:exported="false" />
        <activity
            android:name=".workoutPlan.yogaWorkout.YogaWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".workoutPlan.cardioWorkout.CardioWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".workoutPlan.WorkoutActivity"
            android:exported="false"
            android:label="Track Workout" />
        <activity
            android:name=".workoutPlan.StrengthTraining"
            android:exported="false" />
        <activity
            android:name=".workoutPlan.CurrentWorkoutFragment"
            android:exported="false" />
        <activity
            android:name=".ActivityStrengthTraining"
            android:exported="false" />
        <activity
            android:name=".Goals"
            android:exported="false" />
        <activity
            android:name=".mealPlan.MealPlanActivity"
            android:exported="false" />
        <activity
            android:name=".workoutPlan.WorkoutPlanActivity"
            android:exported="false" />
        <activity
            android:name=".settings.BodyGoalSettings"
            android:exported="false" />
        <activity
            android:name=".settings.NutritionSettings"
            android:exported="false" />
        <activity
            android:name=".settings.WorkoutSettings"
            android:exported="false" />
        <activity
            android:name=".goalPlan.MyGoals"
            android:exported="false" />
        <activity
            android:name=".user.ProfileData"
            android:exported="false" />
        <activity
            android:name=".settings.FitFlowSettings"
            android:exported="false" />
        <activity
            android:name=".registration.RegistrationForm2"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDGynVi2H-JMtSNpCYDn-q3Hq1LA63wteU" />

        <activity
            android:name=".FitFlowDashboard"
            android:exported="false" />
        <activity
            android:name=".forgotPassword.PasswordChangeSuccessful"
            android:exported="false" />
        <activity
            android:name=".forgotPassword.SetNewPassword"
            android:exported="false" />
        <activity
            android:name=".forgotPassword.ForgotPasswordConfirmationCode"
            android:exported="false" />
        <activity
            android:name=".forgotPassword.ForgotPassword1"
            android:exported="false" />
        <activity
            android:name=".login.Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add this line for your Registration activity -->
        <activity
            android:name=".registration.Registration"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".registration.RegistrationConfirmationCode"
            android:exported="true" />
        <activity
            android:name=".registration.RegistrationForm"
            android:exported="true" />
        <activity
            android:name=".registration.RegistrationSuccess"
            android:exported="true" />
    </application>

</manifest>