<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitFlow"
        tools:targetApi="31">
        <activity
            android:name=".WorkoutPlanActivity"
            android:exported="false" />
        <activity
            android:name=".BodyGoalSettings"
            android:exported="false" />
        <activity
            android:name=".NutritionSettings"
            android:exported="false" />
        <activity
            android:name=".WorkoutSettings"
            android:exported="false" />
        <activity
            android:name=".MyGoals"
            android:exported="false" />
        <activity
            android:name=".ProfileData"
            android:exported="false" />
        <activity
            android:name=".Settings"
            android:exported="false" />
        <activity
            android:name=".RegistrationForm2"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDGynVi2H-JMtSNpCYDn-q3Hq1LA63wteU" />

        <activity
            android:name=".FitFlowDashboard"
            android:exported="false" />
        <activity
            android:name=".PasswordChangeSuccessful"
            android:exported="false" />
        <activity
            android:name=".SetNewPassword"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordConfirmationCode"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword1"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Add this line for your Registration activity -->
        <activity
            android:name=".Registration"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".RegistrationConfirmationCode"
            android:exported="true" />
        <activity
            android:name=".RegistrationForm"
            android:exported="true" />
        <activity
            android:name=".RegistrationSuccess"
            android:exported="true" />
    </application>

</manifest>